.profile-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: thin solid #ccc4c4;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(210, 209, 209);
    padding: 30px;
}


.profile-body>.ant-avatar {
    margin: 20px;
    background-color: blueviolet;
}

.profile-description-title {
    color: rgba(0, 0, 0, 0.45);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5714285714285714;
    text-align: start;
    padding-right: 5px;
}

.profile-description-content {
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    word-break: break-word;
    overflow-wrap: break-word;
}

.profile-description {
    padding-top: 0px;
    margin-bottom: 30px;
    font-weight: bold;
}


.hidden-form {
    display: none;
}

.camera-button{
    background: #f0eaea;
    border-radius: 200px;
    border: thin solid #EC6165;
    transform: translate(143%, -59px);
    cursor: pointer;
    color: #EC6165;
}

.bi-camera{
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

.profile-container h2{
    text-align: center;
}

.profile-body .close{
    display:inline-block;
    position:relative;
    right:0px;
    cursor: pointer;
    transform: translate(1500%, -5px);
}