.nav-container {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(197, 210, 240); */
    position: sticky;
    z-index: 999;
    width: 100%;
    
}

.nav-container_division {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.nav-container_division > * {
    margin: 5px;
}

.ant-input-search > .ant-input-group > .ant-input {
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
}

.ant-input-search >.ant-input-group >.ant-input-group-addon:last-child .ant-input-search-button {
    border-start-end-radius: 999px;
    border-end-end-radius: 999px;
}