.nav-container {
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 999;
    width: 100%;  
}

.nav-container_division {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: 1.5em;
    cursor: pointer;
    color: #b57482;
}

.nav-container_division > * {
    margin: 5px;
}

.bi-spotify{
    color: rgb(181, 116, 130);
    font-size: 50px;
}

.ant-input-search > .ant-input-group > .ant-input {
    border-radius: 150px;
}

.ant-input-search >.ant-input-group >.ant-input-group-addon:last-child .ant-input-search-button {
    border-radius: 150px;
}

.ant-btn {
    border-radius: 150px;
    text-align: center;
}

.ant-btn > .anticon {
    vertical-align: 0%;
    transform: translateY(-1px);
}

.nav-post{
    border-radius: 150px;
    text-align: center;
    color: rgb(181, 116, 130);
    font-size: bold;
}