.postmain {
  margin-top: 20px;
}

.postmain-img {
  width: auto;
  height: 300px;
  object-fit: cover;
}

.modal-shadow {
  padding: 20px;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
}

#light .modal-shadow {
  background-color: #f0eaea;
  color: #766f6f;
}

#dark .modal-shadow {
  background-color: #2d2d2e;
  color: #766f6f;
}


#light span {

  color: #766f6f;
}

#dark span {

  color: #766f6f;
}

.style-buttons .bi {
  background-color: #f0eaea;

}

.style-buttons .bi {
  background-color: #EC6165;
  color: #f0eaea;
  padding: 0.50em;

}

.style-buttons .bi {
  background-color: #EC6165;
  color: #f0eaea;
  padding: 0.40em;

}

.style-buttons {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

}

.style-buttons::-webkit-scrollbar {
  display: none;
}


@media screen and (max-width: 768px) {
  .style-buttons {
    overflow-x: scroll;
  }
}

.style-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.35em;
  font-size: 1.5em;
  cursor: pointer;
}

.bg-light {
  background-color: #f2f2f2;
}

.custom-select:hover {
  background-color: #ccc;
  color: #746262;
}