:root {
  font-family: 'Outfit', sans-serif;
  font-family: 'Sansita', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: 766f6f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#light {
  background-color: #f0eaea;
  color: #766f6f;
}

#dark {
  background-color: #2d2d2e;
  color: #766f6f;
}

.switch {
  display: flex;
  height: 10px;
  justify-content: end;
  align-items: end;
  margin: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.ant-avatar {
  border: 1px solid #d9d9d9;
}

.ant-input {
  border-radius: 10px;
}

.ant-input-password {
  border-radius: 10px;
}

.ant-form>* {
  margin: 5px;
}

* {
  font-family: 'Outfit', sans-serif;
}

.card-title {
  font-family: 'DM Serif Text', serif;
  /* font-family: 'Outfit', sans-serif;
  font-weight: bold; */
  font-size: 2rem;
  padding-top: 30px;
  padding-bottom: 20px;
}

.upload-file {
  border-radius: 150px;
}